@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'DungGeunMo';
  src: url('@assets/fonts/DungGeunMo.woff2');
}
@font-face {
  font-family: 'neodgm';
  src: url('@assets/fonts/neodgm.woff2');
}

:root {
  --main-color-50: #f2e7fe;
  --main-color-100: #d7b7fd;
  --main-color-200: #bb86fc;
  --main-color-300: #9e55fc;
  --main-color-400: #7f22fd;
  --main-color-500: #6200ee;
  --main-color-600: #4b00d1;
  --main-color-700: #3700b3;
  --main-color-800: #270096;
  --main-color-900: #190078;
  --main-color-dark: #1f1b24;
  --main-opacity-full: 100%;
  --main-opacity-high: 87%;
  --main-opacity-medium: 60%;
  --main-opacity-disabled: 38%;
  --main-opacity-card: 5%;
}

:root[color-theme='dark'] {
  --main-text-color: #fff;
  --main-background-color: #212529;
  --main-color: #bb86fc;
  --main-error-color: #cf6679;
  --main-opacity: var(--main-opacity-high, 87%);
}

:root[color-theme='light'] {
  --main-text-color: #000;
  --main-background-color: #fff;
  --main-color: #6200ee;
  --main-opacity: var(--main-opacity-full, 100%);
  --main-error-color: #b00020;
}

html {
  font-size: 62.5% !important;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
}

* {
  font-family: 'neodgm' !important;
  background-color: var(--main-background-color, #212529) !important;
  color: var(--main-text-color, #fff) !important;
  /* opacity: var(--main-opacity, 87%); */
}

.toggle-theme {
  cursor:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  appearance: none;
  position: relative;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-outset: 2;
  border-style: solid;
  border-width: 3px;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgba(255,255,255, .87)" /></svg>');
  width: 4.5rem;
  height: 2.5rem;
}

.toggle-theme::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  transform: scale(0.9);
  background-image: url('@assets/icons/ic_dark_mode.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: left 250ms linear;
}

.toggle-theme:checked::before {
  background-image: url('@assets/icons/ic_light_mode.svg');
  background-repeat: no-repeat;
  background-size: cover;
  left: 1.9rem;
}

.toggle-theme:checked {
  background-color: white;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(18,18,18)" /></svg>');
}

.nes-container.is-dark {
  background-color: #212529 !important;
}

.nes-container.is-dark > p {
  background-color: #212529 !important;
}

.drag-prevent {
  -ms-user-select: none;
  -moz-user-select: -none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
